<b>Inserting data into MySQL...</b><br/>

MySQL start: <%= @mysql_start %><br/>
MySQL finish: <%= @mysql_finish %><br/><br/>

<b>Retrieving data from MySQL...</b><br/>
Time taken: <%= @mysql_output %><br/><br/>

<b>Inserting data into MongoDB...</b><br/>

MongoDB start: <%= @mongo_start %><br/>
MongoDB finish: <%= @mongod_finish %><br/><br/>

<b>Retrieving data from MongoDB...</b><br/>
Time taken: <%= @mongo_output %><br/><br/>

<h3>If you see data above, you have successfully deploy a stack with MySQL and MongoDB.</h3>
<h4>You can change the numbers in the controller to test read/write from both databases.</h4>

tjenare